* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: coral;
}

section {
    border: 1px solid black;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .description{
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

section .form {
    border: 1px solid black;
    flex: 1;
}

.form form {
    width: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    border: 1px solid black;
    background-color: coral;
    display: flex;
    justify-content: center;
    text-align: center;

}